// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div-with-border {
    border: 1px solid silver; 
    padding-top:15px; 
    padding-left:15px; 
    padding-right:15px; 
    margin-bottom:15px
}